<nav>
  <div class="header_btn">
    <div class="profile" (click)="goToProfile()">
      <div class="profile-picture"></div>
      <div class="profile-info">
        <h2 class="username">Pseudo</h2>
      </div>
    </div>
    <div class="boutonConnexion">
      <button class="btn_anim" id="btn_log_in" (click)="goToLogIn()">Log-In</button>
      <button class="btn_anim" id="btn_sign_up" (click)="goToSignUp()">Sign-Up</button>
    </div>
  </div>
</nav>

<div class="main">
  <img src="assets/images/BrainEnigma.png" />
  <div class="main_btn">
    <button class="btn_anim" id="btn_start" (click)="goToChoose()">START</button>
    <button class="btn_anim" id="btn_stat">STATS</button>
    <button class="btn_anim" id="btn_contact" (click)="goToContact()">CONTACT</button>
  </div>
</div>
