.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.5em;
    color: #FFDBD1;
}

img{
    width: 40em;
}

/* a {
    font-size: 1.5em;
    color: #FFDBD1;
} */

.btn_home_fond {
    width: 88px;
    height: 86px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #882000;
    box-shadow: 0px 6px 1px #330C00;
    position: absolute;
    width: 88px;
    height: 86px;
    right: 20px;
    top: 20px;
    z-index: 2;
}

.btn_home_fond svg {
    width: 55px;
    height: 53px;
    fill: #FFDBD1;
}